{{ define "main" }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto wow zoomIn">
        <article>
          <h1 class="text-color  font-weight-bold" style="font-size:3vw; line-height: 100%;">{{ .Title }}</h1>
          <ul class="list-inline mb-4">            
            <li class="list-inline-item"><i class="ti-calendar text-color mr-2" style="font-size:1vw; line-height: 100%;"></i>
              <a style="font-size:1vw; line-height: 100%;">{{ .PublishDate.Format "02 Jan, 2006" }}</a></li>
          </ul>
          <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" class="img-fluid w-100 mb-4">
          <div class="content">
            {{.Content}}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}