{{ define "main" }}
{{ partial "page-title.html" . }}

<!-- intro -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.intro }}
<section>
  <div class="card border-0 wow fadeIn">
    <img src="{{ .image | absURL }}" class="card-img-top border-0">
  </div>
  <div class="row justify-content-center">
    <div class="col-4 justify-content-right">
      <div class="card-body text-right">
        <h1>
          <a class="text-dark font-weight-bold" style="font-size:3vw;">{{ .title | markdownify }}</a>
          <a class="text-color font-weight-bold" style="font-size:3vw;">{{ .subtitle | markdownify }}</a>
        </h1>
      </div>
    </div>
    <div class="col-7 align-self-center">
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark font-weight-bold" style="font-size:2vmin;">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /intro -->

<!-- generica -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.generica }}
<section>
  <div class="row justify-content-center">
    <div class="col-4 justify-content-right">
      <div class="card-body text-right">
        <h1>
          <a class="text-dark font-weight-bold" style="font-size:3vw;">{{ .title | markdownify }}</a>
          <a class="text-color font-weight-bold" style="font-size:3vw;">{{ .subtitle | markdownify }}</a></h1>
      </div>
    </div>
    <div class="col-7 align-self-center">
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark" style="font-size:2vmin;">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
    {{ range .producteItem }}
    <div class="col-lg-3 col-md-4 col-sm-6 align-items-center">
      <div class="card border-0 text-center wow fadeIn">
        <div class="card-body align-items-center">
          <img src="{{ .image | absURL }}" class="card-img-top border-0">
          <h3 class="text-color font-weight-bold" style="font-size:2vw;">{{ .title | markdownify }}</h3>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
</section>
{{ end }}
{{ end }}

<!-- /generica -->

<!-- origen -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.origen }}
<section class="section pb-0">
  <div class="row justify-content-center">
    <div class="card border-0 wow fadeIn">
      <img src="{{ .image | absURL }}" class="card-img-top border-0">
    </div>
    <div class="col-4 justify-content-right">
      <div class="card-body text-right">
        <h1 class="text-dark font-weight-bold" style="font-size:3vw;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-color font-weight-bold" style="font-size:3vw;"><a>{{ .subtitle | markdownify }}</a></h1>        
      </div>
    </div>
    <div class="col-7 align-self-center">
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark" style="font-size:2vmin;">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /origen -->

<!-- eco -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.eco }}
<section class="section pb-0">
  <div class="row justify-content-center">    
    <img src="{{ .image1 | absURL }}" class="card-img-top border-0 wow fadeIn">    
    <div class="col-6 justify-content-right">
      <div class="card-body text-right">
        <h1 class="text-dark font-weight-bold" style="font-size:3vw;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-color font-weight-bold" style="font-size:3vw;"><a>{{ .subtitle | markdownify }}</a></h1>
      </div>
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark" style="font-size:2vmin;">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="col-6 align-self-center">
      <div class="card border-0 wow fadeIn">
        <img src="{{ .image2 | absURL }}" class="card-img-top border-0">
      </div>
    </div>
</section>
{{ end }}
{{ end }}
<!-- /eco -->

<!-- km0 -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.km0 }}
<section class="section pb-0">
  <div class="row justify-content-center">    
    <div class="col-6 justify-content-right">
      <div class="card border-0 wow fadeIn">
        <img src="{{ .image | absURL }}" class="card-img-bottom border-0">
      </div>      
    </div>
    <div class="col-6 align-self-start align-self-start wow fadeInRight"> 
      <div class="card-body text-left">
        <h1 class="text-dark font-weight-bold" style="font-size:3vw;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-color font-weight-bold" style="font-size:3vw;"><a>{{ .subtitle | markdownify }}</a></h1>                            
        <p class="text-dark" style="font-size:2vmin;">{{ .content | markdownify }}</p>
      </div>      
    </div>
  </div>  
</section>
<section class="section-sm"/>
{{ end }}
{{ end }}
<!-- /km0 -->

<!-- vegan -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.vegan }}
<section class="section pb-0 overlay" style="background:transparent url('{{ .image | absURL }}') center center no-repeat;background-size: cover">
  <div class="row justify-content-center">        
    <div class="col-6 align-self-start align-self-start wow fadeInRight"> 
      <div class="card-body text-left"></div>     
        <h1 class="text-white font-weight-bold" style="font-size:3vw;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-color font-weight-bold" style="font-size:3vw;"><a>{{ .subtitle | markdownify }}</a></h1>                            
        <p class="text-white" style="font-size:2vmin;">{{ .content | markdownify }}</p>
      </div>      
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /vegan -->

<!-- restauración -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.restauracion }}
<section class="section pb-0">
  <div class="row">
    <div class="col d-flex align-self-end justify-content-center wow fadeInLeft">
      <div class="card-body text-right">
        <h1 class="text-dark font-weight-bold" style="font-size:3vw;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-color font-weight-bold" style="font-size:3vw;"><a>{{ .subtitle | markdownify }}</a></h1>
      </div>
    </div>
    <div class="col d-flex align-self-center wow fadeInLeft">
      <p class="text-dark" style="font-size:2vmin;">{{ .content | markdownify }}</p>
    </div>
  </div>
  <div class="card border-0 wow fadeIn">
    <img src="{{ .image | absURL }}" class="card-img-bottom border-0">
  </div>
</section>
{{ end }}
{{ end }}
<!-- /restauración -->
<section class="section-sm"/>
{{ partial "cta.html" . }}
{{ end }}