{{ define "main" }}
{{ partial "page-title.html" . }}

<!-- intro -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.intro }}
<section class="section pb-0">
  <div class="row justify-content-center">      
    <div class="col-4 justify-content-right">
      <div class="card-body text-left">
        <h1 class="text-color font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-dark font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .subtitle | markdownify }}</a></h1>
      </div>
      <div class="card border-0 text-left wow fadeIn">
        <div class="card-body">
          <p class="text-dark" style="font-size:2vmin;">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="col-6 align-self-center">
      <div class="card border-0 wow fadeIn">
        <img src="{{ .image2| absURL }}" class="card-img-top border-0">
      </div>
    </div>
</section>
{{ end }}
{{ end }}
<!-- /intro -->

<!-- generica -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.generica }}
<section>
  <div class="row justify-content-center">
    <div class="col-4 justify-content-right">
      <div class="card-body text-right">
        <h1 class="text-color font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-dark font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .subtitle | markdownify }}</a></h1>
      </div>
    </div>
    <div class="col-7 align-self-center">
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark" style="font-size:2vmin;">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
    {{ range .producteItem }}
    <div class="col-lg-3 col-md-5 col-sm-6 align-items-center">
      <div class="card border-0 text-center wow fadeIn">
        <div class="card-body align-items-center" style="background:transparent url('{{ .image | absURL }}') center center no-repeat;background-size: cover;margin-bottom: 1vw;margin-top: 1vw;">
          <!--<img src="{{ .image | absURL }}" class="img-fluid card-img-top border-0">-->
          <h3 class="text-color font-weight-bold btn" style="font-size:2vw;margin-bottom: 5vw;margin-top: 5vw; background: #94C83D; color: #171D23; opacity:0.8">{{ .title | markdownify }}</h3>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- /generica -->

<!-- origen -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.origen }}
<section class="section pb-0">
  <div class="row justify-content-center">
    
    <div class="col-4 justify-content-right">
      <div class="card-body text-right">
        <h1 class="text-color font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-dark font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .subtitle | markdownify }}</a></h1>        
      </div>
    </div>
    <div class="col-7 align-self-center">
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark" style="font-size:2vmin;">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="col-10 card border-0 wow fadeIn">
      <img src="{{ .image3 | absURL }}" class="card-img-top border-0">
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /origen -->

<!-- eco -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.eco }}
<section class="section pb-0">
  <div class="row justify-content-center">    
    <div class="col-md-10">
      <img src="{{ .image1 | absURL}}" class="img-fluid" alt="">
    </div>   
    <div class="col-4 justify-content-right">
      <div class="card-body text-right">
        <h1 class="text-color font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-dark font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .subtitle | markdownify }}</a></h1>
      </div>
      <div class="card border-0 text-left wow fadeInLeft">
        <div class="card-body">
          <p class="text-dark" style="font-size:2vmin;">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="col-6 align-self-center">
      <div class="card border-0 wow fadeIn">
        <img src="{{ .image2 | absURL }}" class="card-img-top border-0">
      </div>
    </div>
</section>
{{ end }}
{{ end }}
<!-- /eco -->

<!-- km0 -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.km0 }}
<section class="section pb-0">
  <div class="row justify-content-center">    
    <div class="col-6 justify-content-right">
      <div class="card border-0 wow fadeIn">
        <img src="{{ .image | absURL }}" class="card-img-bottom border-0">
      </div>      
    </div>
    <div class="col-6 align-self-start align-self-start"> 
      <div class="card-body text-left">
        <h1 class="text-color font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-dark font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .subtitle | markdownify }}</a></h1>  
      </div>
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">                          
        <p class="text-dark" style="font-size:2vmin;">{{ .content | markdownify }}</p>
        </div>
      </div>      
    </div>
  </div>  
</section>
<section class="section-sm">
{{ end }}
{{ end }}
<!-- /km0 -->

<!-- vegan -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.vegan }}
<section class="section pb-0">
  <div class="container overlay " style="background:transparent url('{{ .image | absURL }}') center center no-repeat;background-size: cover">
  <div class="row justify-content-center">        
    <div class="col-6 align-self-start align-self-start wow fadeInRight" style="margin-bottom: 5vw;margin-top: 5vw;"> 
      <div class="card-body text-left"></div>     
        <h1 class="text-white font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-color font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .subtitle | markdownify }}</a></h1>                            
        <p class="text-white" style="font-size:2vmin;">{{ .content | markdownify }}</p>
        <BR>
        <p class="text-white" style="font-size:2vmin;">{{ .content2 | markdownify }}</p>
      </div>      
    </div>
  </div>
</div>
</section>
{{ end }}
{{ end }}
<!-- /vegan -->

<!-- restauración -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.restauracion }}
<section class="section pb-0">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <img src="{{ .image | absURL}}" class="img-fluid" alt="">
    </div>
    <div class="card border-0 wow fadeIn">
    
    </div>
    <div class="col-4 justify-content-right">
      <div class="card-body text-right">
        <h1 class="text-color font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-dark font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .subtitle | markdownify }}</a></h1>        
      </div>
    </div>
    <div class="col-7 align-self-center">
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark" style="font-size:2vmin;">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
{{ end }}
<!-- /restauración -->
<section class="section-sm"/>
{{ partial "cta.html" . }}
{{ end }}