{{ define "main" }}
{{ partial "page-title.html" . }}

<!-- intro -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.intro }}
  <div class="row">
  <div class="col">
    <div class="card border-0 align-self-start text-right wow fadeInLeft">
      <img src="{{ .image1 | absURL }}" class="card-img-top border-0">
      <div class="card-body">
        <h1>
          <a href="#" class="text-success font-weight-bold" >{{ .title | markdownify }}</a>
          <a href="#" class="text-dark font-weight-bold">{{ .subtitle | markdownify }}</a>
        </h1>  
      </div>
    </div>    
  </div>
  <div class="col">
    <div class="card border-0 text-left wow fadeInRight">
      <img src="{{ .image2 | absURL }}" class="card-img-top border-0">
      <div class="card-body">
        <h5>{{ .content | markdownify }}</h5>        
      </div>
    </div>  
    </div>
  </div>

{{ end }}
{{ end }}
<!-- /intro -->

<!-- generica -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.generica }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col align-self-end pb-0 wow fadeInLeft">
        <h1>
          <a href="#" class="text-success font-weight-bold" >{{ .title | markdownify }}</a>
          <a href="#" class="text-dark font-weight-bold">{{ .subtitle | markdownify }}</a>
        </h1>  
      </div>
      <div class="col align-self-end wow fadeInRight">
        <h5>{{ .content | markdownify }}</h5>
      </div>
    </div>
    <div class="row"><br></div>
    <div class="row">
      {{ range .producteItem }}
      <div class="col-lg-3 col-md-4 col-sm-6" >
        <div class="card border-0 text-center wow fadeIn" style="height: 200px; background:transparent url('{{ .image | absURL }}') center center no-repeat; background-size: cover;">
          <!--<img src="{{ .image | absURL }}" alt="material" class="card-img-top border-0">-->
          <div class="card-body">
            <h4 class="text-dark font-weight-bold bg-white">{{ .title | markdownify }}</h4>
            <!--<p>{{ .content | markdownify }}</p>-->
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="row"><br></div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- /generica -->

<!-- origen -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.origen }}
  <div class="row align-items-end ">
  <div class="col">
    <div class="card border-0 text-right wow fadeInLeft">      
      <div class="card-body">
        <h1>
          <a href="#" class="text-success font-weight-bold" >{{ .title | markdownify }}</a>
          <a href="#" class="text-dark font-weight-bold">{{ .subtitle | markdownify }}</a>
        </h1>  
      </div>
      <img src="{{ .image1 | absURL }}" class="card-img-top border-0">
    </div>    
  </div>
  <div class="col">
    <div class="card border-0 text-left wow fadeInRight">      
      <div class="card-body">
        <h5>{{ .content | markdownify }}</h5>        
      </div>
      <img src="{{ .image2 | absURL }}" class="card-img-top border-0">
    </div>  
    </div>
  </div>
  <div class="row"><br></div>
{{ end }}
{{ end }}
<!-- /origen -->

<!-- eco -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.eco }}
  <div class="row">
  <div class="col">
    <div class="card border-0 align-self-start text-right wow fadeInLeft">    
      <div class="card-body">
        <h5>{{ .content | markdownify }}</h5>        
      </div>
      <img src="{{ .image1 | absURL }}" alt="material" class="card-img-top border-0">
    </div>    
  </div>
  <div class="col">
    <div class="card border-0 text-left wow fadeInRight">   
      <div class="card-body">
        <h1>
          <a href="#" class="text-success font-weight-bold" >{{ .title | markdownify }}</a>
          <a href="#" class="text-dark font-weight-bold">{{ .subtitle | markdownify }}</a>
        </h1>  
      </div>   
      
      <img src="{{ .image2 | absURL }}" alt="material" class="card-img-top border-0">
    </div>  
    </div>
  </div>
  <div class="row"><br></div>
{{ end }}
{{ end }}
<!-- /eco -->

<!-- km0 -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.km0 }}
  <div class="row">
  <div class="col">
    <div class="card border-0 text-right wow fadeInLeft">          
      <h1>
        <a href="#" class="text-success font-weight-bold" >{{ .title | markdownify }}</a>
        <a href="#" class="text-dark font-weight-bold">{{ .subtitle | markdownify }}</a>
      </h1>      
      <img src="{{ .image1 | absURL }}" alt="material" class="card-img-top border-0">
    </div>    
  </div>
  <div class="col align-self-end wow fadeInRight">
    <div class="card border-0 text-left ">      
      <div class="card-body">
        <h5>{{ .content | markdownify }}</h5>        
      </div>
    </div>  
    <img src="{{ .image2 | absURL }}" alt="material" class="card-img-top border-0">
    </div>
  </div>
{{ end }}
{{ end }}
<!-- /km0 -->

<!-- vegan -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.vegan }}
<div class="container">
  <div class="row">
  <div class="col">
    <div class="card border-0 text-left wow fadeIn">      
      <div class="card-body">
        <h1 class="text-dark font-weight-bold bg-white">{{ .title | markdownify }}</h1>
        <h1 class="text-success font-weight-bold bg-white">{{ .subtitle | markdownify }}</h1>
      </div>
    </div>    
  </div>
  </div>
</div>
  <div class="row wow fadeIn">
    <img src="{{ .image | absURL }}" class="card-img-top border-0">
  </div>
<div class="container">
  <div class="col">
    <div class="card border-0 text-left wow fadeInRight">      
      <div class="card-body">
        <h5>{{ .content | markdownify }}</h5>        
      </div>
    </div>  
    </div>
  </div>
</div>
<section class="section-sm" style="height: 500px;width: 80%;background:transparent url('{{ .image2 | absURL }}') center right no-repeat">
  <div class="container">
    <div class="col">
      <div class="card border-0 text-left bg-transparent wow fadeInRight">      
        <div class="card-body bg-transparent">
          <h5 class="text-white font-weight-bold bg-transparent">{{ .content2 | markdownify }}</h5>        
        </div>
      </div>  
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /vegan -->

<!-- restauración -->
{{ with index .Site.Data.productes .Site.Language.Lang }}
{{ with .productes.restauracion }}
  <div class="row">
  <div class="col">
    <div class="card border-0 align-self-start text-right wow fadeInLeft">
      <img src="{{ .image1 | absURL }}" alt="material" class="card-img-top border-0">
      <div class="card-body">
        <h1 class="text-dark font-weight-bold bg-white">{{ .title | markdownify }}</h1>
        <h1 class="text-success font-weight-bold bg-white">{{ .subtitle | markdownify }}</h1>
      </div>
    </div>    
  </div>
  <div class="col">
    <div class="card border-0 text-left wow fadeInRight">
      <img src="{{ .image2 | absURL }}" alt="material" class="card-img-top border-0">
      <div class="card-body">
        <h5>{{ .content | markdownify }}</h5>        
      </div>
    </div>  
    </div>
  </div>

{{ end }}
{{ end }}
<!-- /restauración -->

{{ partial "cta.html" . }}
{{ end }}