{{ "<!-- navigation -->" | safeHTML }}
<header class="navigation">
  <div class="row" style="background: #171D23" id="info">
    <div class="col-8">          
      <a class="text-white font-size-small font-weight-normal" style="font-size:1.3vmin;" href="tel:{{ site.Params.mobile }}">&nbsp;&nbsp;<i class="ti-mobile mr-2"></i>{{ site.Params.mobile }}</a>
      <a class="text-white font-size-small font-weight-normal" style="font-size:1.3vmin;" href="mailto:{{ site.Params.email }}">&nbsp;&nbsp;<i class="ti-email mr-2"></i>{{ site.Params.email }}</a>
      <a class="text-white font-size-small font-weight-normal" style="font-size:1.3vmin;">&nbsp;&nbsp;<i class="ti-time mr-2"></i>{{ site.Params.horarioES }}</a>   
    </div>    
    <div class="col-4 justify-content-right">
      <!-- Social Icons -->
      <ul class="list-inline">
        {{ range site.Params.social }}
        <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }} text-white font-weight-bold" style="font-size:2vmin;"></i></a></li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="container">    
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{{.Site.BaseURL | relLangURL }}"><img class="img-fluid" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu"></i>
      </button>
      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{.Site.BaseURL | relLangURL }}">{{ with site.Params.Home }} {{ . }} {{ end }}</a>
          </li>
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>      
      </nav>
      <!--<button class="cart snipcart-summary"><a href="" class="snipcart-checkout text-dark"><i class="ti-shopping-cart"></i><span class="badge badge-primary snipcart-items-count"></span></a></button>-->
      <div class="row">
      <div class="col">
        <div class="float-right">
        {{ if .Site.IsMultiLingual }}
        {{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
        <a class="nav-link dropdown-toggle" style="font-size:2vmin;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ $langPage.Language.LanguageName }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{ range $langPage.Translations }}
          <a class="dropdown-item" style="font-size:2vmin;" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
          {{ end }}
        </div>
        </div>
        {{ end }}           
        </div>
      </div>
      </div>                        
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}