{{ "<!-- navigation -->" | safeHTML }}
<header class="sticky-top navigation">
  <div class="collapse text-center" style="background-color: black;" id="info">
    <a>+34 934 180 433</a>
  </div>
  <div class="container">
    <div class="row">      
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{{.Site.BaseURL | relLangURL }}"><img class="img-fluid" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{.Site.BaseURL | relLangURL }}">{{ with site.Params.Home }} {{ . }} {{ end }}</a>
          </li>
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>         
      <!--<button class="cart snipcart-summary"><a href="" class="snipcart-checkout text-dark"><i class="ti-shopping-cart"></i><span class="badge badge-primary snipcart-items-count"></span></a></button>-->
    </nav>   
    <div class="col">
      {{ if .Site.IsMultiLingual }}
      {{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ $langPage.Language.LanguageName }}
      </a>    
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {{ range $langPage.Translations }}
        <a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
      </div>
      {{ end }}           
      </div>
    </div>             
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}