{{ "<!-- navigation -->" | safeHTML }}
<header class="navigation sticky-top">  
  <div style="background: #171D23; height: 26px">
    <div class="container-md" style="margin-left:10vw;margin-right:10vw;background: #171D23; height: 26px">
      <div class="row">
        <div class="col" style="margin-top: 5px;">
          <a class="text-white font-size-small align-text-top" style="font-size:10px"
            href="tel:{{ site.Params.mobile }}">&nbsp;&nbsp;<i class="ti-mobile mr-2"></i>{{ site.Params.mobile }}</a>
          <a class="text-white font-size-small font-weight-normal align-text-top" style="font-size:10px"
            href="mailto:{{ site.Params.email }}">&nbsp;&nbsp;<i class="ti-email mr-2"></i>{{ site.Params.email }}</a>
          <a class="text-white font-size-small align-text-top"
            style="font-size:10px">&nbsp;&nbsp;<i class="ti-time mr-2"></i>{{ site.Params.horarioES }}</a>
        </div>
      <div class="col text-right">
        <!-- Social Icons -->
        <ul class="list-inline" style="margin-top: 5px;">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i
                class="{{ .icon }} text-white font-weight-bold align-text-top" style="font-size:14px;"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
  <div class="container-md" style="margin-left:10vw;margin-right:10vw">
    <!-- navbar -->
    <div class="row align-items-center" style="height: 140px">
      <!--<div class="col" style="height:100px">
        <a class="align-items-center" style="background-color: white;" href="{{.Site.BaseURL | relLangURL }}"><img class="h-100"
          src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
      </div>-->
      <div class="col align-text-top">        
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
          <!--<div class="h-100" href="{{ site.BaseURL }}" alt="{{ site.Title }}" style="background:transparent url('{{ site.Params.logo | absURL }}') center center no-repeat;background-size: cover"></div>-->
          <a class="navbar-brand" href="{{ site.BaseURL }}"><img class="img-fluid" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
          <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
            <i class="ti-menu"></i>
          </button>
          <div class="collapse navbar-collapse text-center" id="navigation">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{.Site.BaseURL | relLangURL }}">{{ with site.Params.Home }} {{ . }} {{ end }}</a>
              </li>
              {{ range site.Menus.main }}
              {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  {{ .Name }}
                </a>
                <div class="dropdown-menu">
                  {{ range .Children }}
                  <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                  {{ end }}
                </div>
              </li>
              {{ else }}
              <li class="nav-item">
                <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              </li>
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </nav>
      </div>
      <div class="col align-text-top">
        <div class="float-right">
          {{ if .Site.IsMultiLingual }}
          {{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
          <a class="nav-link dropdown-toggle text-color" style="color: #94C83D;font-size:1vw;" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ $langPage.Language.LanguageName }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {{ range $langPage.Translations }}
            <a class="dropdown-item text-dark" style="color: #94C83D; font-size:1vw;" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>  
</header>
{{ "<!-- /navigation -->" | safeHTML }}