{{ define "main" }}
<!--{{ partial "page-title.html" . }}-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container section-sm">
    <div class="text-center">
      <h1 class="text-color font-weight-bold" style="font-size:40px; line-height: 100%;"><a>{{ .Params.title | markdownify }}</a></h1>
      <h1 class="text-dark font-weight-bold" style="font-size:40px; line-height: 100%;"><a>{{ .Params.subtitle | markdownify }}</a></h1>  
    </div>
    <br>
    <div class="heading heading-icon">
        <h2 class="heading heading-icon font-weight-bold text-center" style="line-height: 100%;" >- Dirección -</h2>
    </div>
    <ul class="row" style="justify-content: center;">
      <li class="col-12 col-md-6 col-lg-2">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://media-exp1.licdn.com/dms/image/C4E03AQGJ7FBgzAeHtw/profile-displayphoto-shrink_200_200/0/1517666933130?e=1617235200&v=beta&t=vMH4Y85iVWUmsMAQb1oH8Im3K93o0fcpJ7v4NI-bSW8" class="img-responsive" alt=""></figure>
            <h3><a>Joaquim Arasanz</a></h3>
            <p>CEO & Partner</p>
            <ul class="follow-us clearfix">
              <li><a href="https://www.linkedin.com/in/joaquimarasanz/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          </li>
          <li class="col-12 col-md-6 col-lg-2">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src= "{{ .Params.image | absURL }}" class="img-responsive" alt=""></figure>
              <h3><a>Ramón Viñals</a></h3>
              <h3></h3>
              <p>COO & Partner</p>
              <!--<ul class="follow-us clearfix">
                <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>-->
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-2">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src= "{{ .Params.image | absURL }}" class="img-responsive" alt=""></figure>
            <h3><a>Jose Palacio</a></h3>
            <h3></h3>
            <p>Director Comercial</p>
            <!--<ul class="follow-us clearfix">
              <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>-->
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-2">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src= "{{ .Params.image | absURL }}" class="img-responsive" alt=""></figure>
          <h3><a>Antonio Paniagua</a></h3>
          <p>Director de Producción</p>
          <!--<ul class="follow-us clearfix">
            <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>-->
        </div>
     </li>
      <li class="col-12 col-md-6 col-lg-2">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="https://media-exp1.licdn.com/dms/image/C5603AQHJUnxyJ_80rA/profile-displayphoto-shrink_200_200/0/1543173269983?e=1617840000&v=beta&t=_V3ha_ig9OBAeUJAcQHc1JlWpFdwqS4GU-0DL40fON4" class="img-responsive" alt=""></figure>
          <h3><a>Jorge Oses</a></h3>
          <h3></h3>
          <p>Asesor</p>
          <ul class="follow-us clearfix">
            <li><a href="https://www.linkedin.com/in/jorge-os%C3%A9s-labadie-8707893/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </li>
  </div>
  <br>
  <div class="container">
    <div class="heading heading-icon">
      <h2 class="heading heading-icon font-weight-bold text-center" style=" line-height: 100%;" >- Consejo -</h2>
  </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://media-exp1.licdn.com/dms/image/C4E03AQFFPoNvmVd9Pw/profile-displayphoto-shrink_200_200/0/1517884784838?e=1617235200&v=beta&t=n-H8xn27jEStcXekJbAp3Urz7jM_z63ZVL97fn46q1M" class="img-responsive" alt=""></figure>
            <h3><a>Josep Ferran</a></h3>
            <p>Consejero</p>
            <ul class="follow-us clearfix">
              <li><a href="https://www.linkedin.com/in/josep-ferran-marqués-13a820148/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          </li>
          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src= "{{ .Params.image | absURL }}" class="img-responsive" alt=""></figure>
              <h3><a>Ramón Llangostera </a></h3>
              <p>Consejero</p>
              <!--<ul class="follow-us clearfix">
                <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>-->
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://media-exp1.licdn.com/dms/image/C4E03AQH8G1Kj6a0hrg/profile-displayphoto-shrink_400_400/0/1603792286917?e=1617235200&v=beta&t=O_MzR0_GX_jPBXnd3nitUtDz5B1Gjl-_1aQmTjr86fQ" class="img-responsive" alt=""></figure>
            <h3><a href="#">Toni Viñals</a></h3>
            <p>Consejero</p>
            <ul class="follow-us clearfix">
              <li><a href="https://www.linkedin.com/in/tonivinals/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="https://media-exp1.licdn.com/dms/image/C4E03AQHtL1HS-0WjkA/profile-displayphoto-shrink_400_400/0/1597676745167?e=1617235200&v=beta&t=9TjbukrQqpsbjOD22AymaU1vF0YqLac2feCIh0XhWGw" class="img-responsive" alt=""></figure>
          <h3><a href="#">Pol Viñals</a></h3>
          <p>Consejero</p>
          <ul class="follow-us clearfix">
            <li><a href="https://www.linkedin.com/in/pol-viñals-6137a52/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </li>
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}