{{ define "main" }}
<!--{{ partial "page-title.html" . }}-->

<!-- mision -->
{{ with index .Site.Data.mision .Site.Language.Lang }}
{{ with .mision.intro }}
{{ if .enable }}
<section>
  <div class="row align-items-center">  
    <div class="col-1"></div>
    <div class="col-4">
      <div class="text-left">
        <h1 class="text-color  font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .title | markdownify }}</a></h1>
        <h1 class="text-dark font-weight-bold " style="font-size:3vw; line-height: 100%;"><a>{{ .subtitle | markdownify }}</a></h1>
        <p class="text-dark " style="font-size:1.2vw;line-height: 150%;">{{ .content | markdownify }}</p>
        <p class="text-dark " style="font-size:1.2vw;line-height: 150%;">{{ .content1 | markdownify }}</p>
      </div>
    </div>
   <div class=" col-7 card border-0 wow fadeIn">
        <img src="{{ .image3| absURL }}" class="card-img-top border-0">
      </div>
    </div>
</section>
<!-- /mission -->
<section class="section-sm">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mb-3 bg-white align-items-start wow fadeIn">
      <h3><a class="text-dark font-weight-bold bg-white" style="font-size:1.8vw;line-height: 150%;">{{ .content2 | markdownify }}</a> <a class="text-dark font-weight-bold" style="background-color:#faed38; font-size:1.8vw;line-height: 150%;">{{ .content2b | markdownify }}</a></h3>    </div>
  </div>
</div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /mission -->

<!-- etica -->
{{ with index .Site.Data.mision .Site.Language.Lang }}
{{ with .mision.etica }}
{{ if .enable }}
<div class="container">
  <div class="row">
    <div class="col-5 mb-3 bg-white wow fadeIn"></div>
    <div class="col bg-white align-self-start wow fadeInRight">
      <h5 class="text-dark" style="font-size:1.5vw;line-height: 150%;">{{ .content | markdownify }}</h5>      
    </div>
  </div>
</div>
{{ end }}
{{ end }}
{{ end }}
<!-- /etica -->

<!-- objectius -->
{{ with index .Site.Data.mision .Site.Language.Lang }}
{{ with .mision.objectius }}
{{ if .enable }}
<section class="our-webcoderskull padding-lg">
  <div class="container">
  <ul class="row align-items-center">
    {{ range .imatges }}    
    <li class="col-4 col-md-4 col-lg-4">      
      <img class="d-block float-md-center img-fluid w-50" style="margin:0 auto;max-width: 150px" src="{{ .image | absURL }}">
      <p class="text-color font-weight-bold text-center" style="font-size: 2.5vw;">{{ .title | markdownify }}</p>      
    </li>    
    {{ end }}
  </ul>  
  <ul class="row" >
    {{ range .textes }}
    <li class="col-12 col-md-6 col-lg-4">
      <div class="card border-0" style="margin-bottom: 3vh;">        
        <div class="card-body shadow align-items-center">
          <div style="height: 10vh;background:transparent url('{{ .icon | absURL }}') center center no-repeat;"></div>
          <p class="text-center text-dark font-weight-bold" style="font-size: 18px">{{ .title | markdownify }}</p>
          <p class="text-center text-dark wow fadeInDown" style="font-size:16px;line-height: 150%;">{{ .content | markdownify }}</p>                    
        </div>
      </div>
    </li>    
    {{ end }}
  </ul>
</div>
</section>
{{ end }}
{{ end }}
{{ end }}

{{ partial "cta.html" . }}
{{ end }}