{{ define "main" }}

<!-- banner -->
{{ with index .Site.Data.homepage .Site.Language.Lang }}
{{ with .homepage.banner }}
<section class="section-sm" style="background:transparent url('{{ .image | absURL }}') center right no-repeat">
  <div class="container">          
      <div class="row">
      <div class="col-lg-5 col-md-6 order-2 order-md-1 bg-white  wow fadeInLeft">
        <h1>
          <a href="#" class="text-success font-weight-bold" >{{ .title | markdownify }}</a>
          <a href="#" class="text-dark">{{ .subtitle | markdownify }}</a>
        </h1>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link }}" class="btn btn-primary mr-3">{{ .label }}</a><br><br>
        {{ end }}
        {{ end }}

        {{ if .video.enable }}
        {{ with .video }}
        <a data-toggle="modal" data-src="{{ .videoURL | safeURL }}" data-target="#videoModal"
          class="text-color video-modal"><i
            class="ti-control-play bg-gradient hover-shadow btn-play mr-2"></i><span>Watch Video</span></a>
        {{ end }}        
        <!-- Modal -->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 rounded-0">
              <iframe width="560" height="315" src="" id="video" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>        
        {{ end }}
      </div>            
    </div>
  </div>
</section>
{{ end }}
<br><br>
{{ end }}

<!-- /banner -->

<!-- about -->
{{ with index .Site.Data.homepage .Site.Language.Lang }}
{{ with .homepage.about }}
<section class="section" style="background:transparent url('{{ .image | absURL }}') center left no-repeat">
  <div class="container">
    <div class="row">           
      <div class="col-lg-5 col-md-6"></div>     
      <div class="col-lg-5 col-md-6 bg-white wow fadeInRight">
        <h1>
          <a href="#" class="text-dark" >{{ .title | markdownify }}</a>
          <a href="#" class="text-success font-weight-bold">{{ .subtitle | markdownify }}</a>
        </h1>
        <p>{{ .content | markdownify }}</p>
      </div>      
    </div>
  </div>
</section>
<br><br>
{{ end }}
{{ end }}
<!-- /about -->
<!--
{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
-->
<!-- material -->
{{ with index .Site.Data.homepage .Site.Language.Lang }}
{{ with .homepage.material }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .subtitle | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .materialItem }}
      <div class="col-lg-3 col-md-4 col-sm-6" >
        <div class="card border-0 text-center wow fadeInUp">
          <img src="{{ .image | absURL }}" alt="material" class="card-img-top border-0">
          <div class="card-body">
            <h4>{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- /material -->

<!-- productes -->
{{ with index .Site.Data.homepage .Site.Language.Lang }}
{{ with .homepage.products }}
<section class="section pb-0">
  <div class="container">
    <div class="row testimonial-slider">
      <div class="col-12 text-center mb-4">
        {{ with site.Data.homepage.products }}
        <h2>{{ .title | markdownify }}</h2>
        {{ end }}
      </div>
      {{ range first 6 (where site.RegularPages "Type" "products") }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card border-0 text-center">
          <a href="{{ .Permalink }}">
            {{ range first 1 .Params.Images }}
            <img src="{{ .image | absURL }}" alt="{{ .Title }}" class="card-img-top">
            {{ end }}
          </a>
          <div class="card-body">
            <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
            <p>{{ .Params.Description }}</p>
            <div class="mb-4">
              {{ if .Params.PriceBefore }}
              <s>{{ site.Params.currencySymbol }}{{ .Params.PriceBefore }}</s>
              {{ end }}
              <span class="lead text-primary">{{ site.Params.currencySymbol }}{{ .Params.Price }}</span>
            </div>
            <button class="snipcart-add-item btn btn-sm btn-outline-primary" data-item-id="{{ .Params.ProductID }}"
              data-item-name="{{ .Title }}" {{ range first 1 .Params.Images }} data-item-image="{{ .image | absURL }}"
              {{ end }} data-item-price="{{ .Params.Price }}" data-item-url="{{ .Permalink }}" data-item-description="{{ .Description }}">
              Add to cart
            </button>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /productes -->

<!-- 5a gama -->
{{ with index .Site.Data.homepage .Site.Language.Lang }}
{{ with .homepage.advantage }}
<section class="section pb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2>
          <a href="#" class="text-dark" >{{ .title | markdownify }}</a>
          <a href="#" class="text-success font-weight-bold">{{ .subtitle | markdownify }}</a>
          </h2>
        <p class="mb-4">{{ .content | markdownify }}</p>
        <ul class="list-unstyled" style="columns: 2;">
          {{ range .advantageList }}
          <li class="mb-3"><i class="ti-arrow-circle-center text-primary mr-2"></i>{{ .listItem }}</li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-6">
        <img src="{{ .image | absURL}}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- mailing -->
{{ with index .Site.Data.homepage .Site.Language.Lang }}
{{ with .homepage.mailing }}
<section class="section pb-0">
  <!--<div class="container">    -->
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="{{ .image | absURL}}" class="img-fluid" alt="">
      </div>      
      <div class="col-lg-4 col-md-5" style="background-color:#eaf4da">
        <h1 class="font-weight-medium mb-4">{{ .content | markdownify }}</h1>
        <form action="{{ site.Params.contact.formAction }}" method="POST">         
          <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email">          
          <button type="submit" value="send" class="btn btn-block btn-outline-primary rounded">{{ .send | markdownify }}</button>
        </form>
        <br/><br/>
      </div>      
    </div>
  <!--</div>-->
</section>

{{ end }}
{{ end }}
<!-- /mailing -->

{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}
