{{ define "main" }}
{{ partial "page-title.html" . }}

<!-- mision -->
{{ with index .Site.Data.mision .Site.Language.Lang }}
{{ with .mision.intro }}
<section class="section-sm" >
  <div class="container" style="background:transparent url('{{ .image | absURL }}') center center no-repeat">
    <div class="row height 50%">
      <div class="height 50%"><br><br></div>
    </div>
    <div class="row">
      <div class="bg-white wow fadeIn"><br><br></div>
    </div>
    <div class="row align-items-end">
      <div class="col-lg-6 col-md-5 bg-white wow fadeIn">
        <h1>
          <a class="text-dark font-weight-bold" >{{ .title | markdownify }}</a>
          <a class="text-success font-weight-bold">{{ .subtitle | markdownify }}</a>
        </h1>
        <h4>{{ .content | markdownify }}</h4>              
      </div>       
    </div>
    <div class="row align-items-end">
      <div class="col-lg-6 col-md-5 bg-white wow fadeIn">
        <h4 class="text-dark font-weight-bold bg-white">{{ .content2 | markdownify }}</h4>
        <h4 class="text-dark font-weight-bold bg-white">{{ .content2b | markdownify }}</h4>        
      </div>
    </div>
  </div>
</section>
{{ end }}
<br><br>
{{ end }}
<!-- /banner -->

{{ partial "cta.html" . }}
{{ end }}