{{ define "main" }}
{{ partial "page-title.html" . }}

<!-- mision -->
{{ with index .Site.Data.mision .Site.Language.Lang }}
{{ with .mision.intro }}
<section class="section-sm" style="background:transparent url('{{ .image | absURL }}') center right no-repeat">
  <div class="container">          
    <div class="row">
      <div class="col-lg-4 col-md-5 order-2 order-md-1 bg-white wow fadeIn">
        <h1>
          <a href="#" class="text-success font-weight-bold" >{{ .title | markdownify }}</a>
          <a href="#" class="text-dark font-weight-bold">{{ .subtitle | markdownify }}</a>
        </h1>
        <h4>{{ .content | markdownify }}</h4>              
      </div>       
    </div>
    <div class="col-lg-4 col-md-5 order-2 order-md-1 bg-white wow fadeIn"></div>>
      <a href="#" class="text-dark font-weight-bold">{{ .content2 | markdownify }}</a>
      <a href="#" class="text-dark font-weight-bold">{{ .content2b | markdownify }}</a>        
    </div>
  </div>
</section>
{{ end }}
<br><br>
{{ end }}
<!-- /banner -->

{{ partial "cta.html" . }}
{{ end }}