{{ define "main" }}
{{ partial "page-title.html" . }}

<!-- mision -->
{{ with index .Site.Data.mision .Site.Language.Lang }}
{{ with .mision.intro }}
<section class="section-sm" style="background:transparent url('{{ .image | absURL }}') center center no-repeat; height: 1000px;">  
  <div class="container" >    
    <div class="row" style="height: 500px;"></div>
      <div class="row">
        <div class="col-3 mb-3 bg-white justify-content-start align-items-start wow fadeIn">
          <h1>
            <a class="text-dark font-weight-bold" >{{ .title | markdownify }}</a>
            <a class="text-success font-weight-bold">{{ .subtitle | markdownify }}</a>
          </h1>
        </div>
        <div class="col-7 mb-3 bg-white justify-content-end align-items-start wow fadeIn">
         <h4>{{ .content | markdownify }}</h4>
        </div>         
      </div>       
    </div>
    <br><br>
    <div class="row align-items-end justify-content-center">
      <div class="col-9 mb-3 bg-white align-items-start wow fadeIn">
        <h4 class="text-dark font-weight-bold bg-white">{{ .content2 | markdownify }}</h4>
        <h4 class="text-dark font-weight-bold bg-white">{{ .content2b | markdownify }}</h4>        
      </div>
    </div>
  </div>
</section>
{{ end }}
<br><br>
{{ end }}
<!-- /banner -->

{{ partial "cta.html" . }}
{{ end }}