{{ define "main" }}

<!--{{ partial "page-title.html" . }}-->
<!-- mision -->
<section>
  <div class="row align-items-center">  
    <div class="col-1"></div>
    <div class="col-4">
      <div class="text-left">
        <h1 class="text-dark  font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .Params.title | markdownify }}</a></h1>
        <h1 class="text-color font-weight-bold " style="font-size:3vw; line-height: 100%;"><a>{{ .Params.subtitle | markdownify }}</a></h1>
        <p class="text-dark " style="font-size:1.5vw;line-height: 150%;">{{ .Params.content2 | markdownify }}</p>
      </div>
    </div>
   <div class=" col-7 card border-0 wow fadeIn">
        <img src="{{ .Params.image7| absURL }}" class="card-img-top border-0">
      </div>
    </div>
</section>
<!-- /mission -->

<!-- VG -->
<section>
  <div class="row align-items-center">
    <div class="col-3"></div>
    <div class="col-2 align-items-center">
      <div class="text-right">
          <img src="{{ .Params.image3 | absURL}}" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col-5 align-items-center">
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark" style="font-size:1.5vw;line-height: 150%;">{{ .Params.content3 | markdownify }}</p>
        </div> 
      </div>
    </div>
    
  </div>
</section>






<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="heading heading-icon">
        <h2 class="heading heading-icon font-weight-bold text-center" style="font-size:3vw; line-height: 100%;" >Equipo Dirección</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
            <h3><a href="#">Kappua </a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          </li>
          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
              <h3><a href="#">Kappua </a></h3>
              <p>Freelance Web Developer</p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
            <h3><a href="#">Kappua </a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
          <h3><a href="#">Kappua </a></h3>
          <p>Freelance Web Developer</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </li>
  </div>
  <div class="container">
    <div class="heading heading-icon">
      <h2 class="heading heading-icon font-weight-bold text-center" style="font-size:3vw; line-height: 100%;" >Equipo Board</h2>
  </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
            <h3><a href="#">Kappua </a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          </li>
          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
              <h3><a href="#">Kappua </a></h3>
              <p>Freelance Web Developer</p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
            <h3><a href="#">Kappua </a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
          <h3><a href="#">Kappua </a></h3>
          <p>Freelance Web Developer</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </li>
  </div>
</section>

<!-- mision -->
<section class="section pb-0">
  <div class="col overlay " style="background:transparent url('{{ .Params.image6 | absURL }}') center center no-repeat;background-size: cover">
  <div class="row justify-content-center">        
    <div class="col-6 align-self-start align-self-start wow fadeIn" style="margin-bottom: 5vw;margin-top: 5vw;"> 
      <div class="card-body text-left"></div>     
        <h1 class="text-white font-weight-bold" style="font-size:2.5vw;line-height: 150%;">{{ .Params.content4 | markdownify }}</h1>
      </div>      
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-3"></div>
    <div class="col-2 align-items-center">
      <div class="text-right">
          <img src="" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col-5 align-items-center">
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark" style="font-size:1.5vw;line-height: 150%;">{{ .Params.content6 | markdownify }}</p>
        </div> 
      </div>
    </div>
    
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-9 mb-3 bg-white align-items-start wow fadeIn">
        <h3><a class="text-dark font-weight-bold bg-white" style="font-size:2vw;line-height: 150%;">{{ .Params.content5 | markdownify }}</a><a class="text-dark font-weight-bold" style="background-color:#faed38; font-size:2vw;line-height: 130%;">{{ .Params.content5b | markdownify }}</a></h3>      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-3"></div>
    <div class="col-2 align-items-center">
      <div class="text-right">
          <img src="" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col-5 align-items-center">
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark" style="font-size:1.5vw;line-height: 150%;">{{ .Params.content7 | markdownify }}</p>
          <p class="text-dark" style="font-size:1.5vw;line-height: 150%;">{{ .Params.content8 | markdownify }}</p>
        </div> 
      </div>
    </div>
    
  </div>
</div>
</section>
<!-- mision -->












{{ partial "cta.html" . }}
{{ end }}