{{ define "main" }}

<!--{{ partial "page-title.html" . }}-->
<!-- Grupo -->
{{ with index .Site.Data.vinals .Site.Language.Lang }}
{{ with .vinals.grupo }}
{{ if .enable }}
  <section class="section-sm pb-0">
    <div class="row align-items-center">  
      <div class="col-1"></div>
      <div class="col-4">
        <div class="text-left">
          <h1 class="text-color  font-weight-bold" style="font-size:3vw; line-height: 100%;"><a>{{ .title | markdownify }}</a></h1>
          <h1 class="text-dark font-weight-bold " style="font-size:3vw; line-height: 100%;"><a>{{ .subtitle | markdownify }}</a></h1>
          <p class="text-dark " style="font-size:1.2vw;line-height: 150%;">{{ .content | markdownify }}</p>
          <p class="text-dark " style="font-size:1.2vw;line-height: 150%;">{{ .content2 | markdownify }}</p>
        </div>
      </div>
     <div class=" col-7">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{ .image | absURL }}" alt="">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ .image2 | absURL }}" alt="">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ .image3 | absURL }}" alt="">
          </div>
        </div>
      </div>
        </div>
      </div>
  </section>
<!-- /Grupo -->
{{ end }}
{{ end }}
{{ end }}

<!-- VG -->
{{ with index .Site.Data.vinals .Site.Language.Lang }}
{{ with .vinals.vg }}
{{ if .enable }}
<section class="section pb-0">
  <div class="row align-items-center">
    <div class="col-3"></div>
    <div class="col-2 align-items-center">
      <div class="text-right">
          <img src="{{ .image | absURL}}" class="img-fluid" style="height: 75;" alt="">
      </div>
    </div>
    <div class="col-5 align-items-center">
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark" style="font-size:1.2vw;line-height: 150%;">{{ .content | markdownify }}</p>
        </div> 
      </div>
    </div>    
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /VG -->

<!-- servicio -->
{{ with index .Site.Data.vinals .Site.Language.Lang }}
{{ with .vinals.servicio }}
{{ if .enable }}
<section class="section pb-0" >
<div class="container-md " style="margin:0% auto">
  <ul class="row align-items-center" style="margin-left: 5vw;margin-right: 5vw;">
    {{ range .items }}
    <li class="col-12 col-md-6 col-lg" style="margin:0% auto">
      <div class="card border-0">        
        <div class="card-body shadow align-items-center" style="margin:0;padding:0;min-width: 150px;height: 530px;">
          <div class="w-100">
            <img src="{{ .image | absURL}}" class="img-fluid" style="height: 75;" alt="">
          </div>          
          <p class="text-center text-dark wow fadeInDown" style="margin-left:5px;margin-right:5px;font-size:17px">{{ .content | markdownify }}</p>                    
        </div>
      </div>
    </li>  
    {{ end }}
  </ul>
</div>
</section>
{{ end}}
{{ end}}
{{ end}}
<!-- servicio -->

<!-- Fusión -->
{{ with index .Site.Data.vinals .Site.Language.Lang }}
{{ with .vinals.fusion }}
{{ if .enable }}
<section class="section pb-0">
  <div class="container">
  <div class="row align-items-center">
    <!--<div class="col-3"></div>-->
    <div class="col-6">
      <div class="text-right">
        <img src="{{ .image | absURL}}" class="img-fluid" style="height: 75;" alt="">
      </div> 
    </div>
    <div class="col-6 align-items-center">
      <div class="card border-0 text-left wow fadeInRight">
        <div class="card-body">
          <p class="text-dark" style="font-size:1.2vw;line-height: 150%;">{{ .content | markdownify }}</p>
        </div> 
      </div>
    </div>    
  </div>
</div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /Fusión -->

<!-- Industrial -->
{{ with index .Site.Data.vinals .Site.Language.Lang }}
{{ with .vinals.industrial }}
{{ if .enable }}
<section class="section-sm pb-0">
  <div class="container">    
    <div class="row testimonial-slider">
      {{ range .items }}
      <div class="col-4">
        <div class="card border-primary">          
          <img src="{{ .image | absURL }}">                        
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}

<!-- /Industrial -->



{{ partial "cta.html" . }}
{{ end }}