/*  typography */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

body {
  line-height: 1.4;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 2vw;
  color: $text-color;
}

p, .paragraph {
  //font-weight: 400;
  color: $text-color-dark;  
  font-size: 1.4vw;
  line-height: 1.7;
  font-family: $secondary-font;
}

h1,h2,h3,h4,h5,h6 {  
  font-family: $primary-font;
  font-weight: 400;
  //line-height: 1.7;
}

h1, .h1{
  font-size:3vw;
}

h2, .h2{
  font-size:2vw;
}

h3, .h3{
  font-size:2vw;
}

h4, .h4{  
  font-size: 1vw;
}

h5, .h5{
  font-size: 1vw;
}

h6, .h6{
  font-size: 1vw;
}
