// Color Variables
$primary-color: #94C83D;
$text-color: #94C83D;
$text-color-dark: #171D23;
$body-color: #fff;
$border-color: #D1D1D1;
$black: #000;
$grey: #b8b8b8;
$white: #fff;
$light: rgb(223, 223, 223);

$primary-gradient: linear-gradient( 27deg, rgb(89,181,30) 0%, rgb(149,210,57) 100%);

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$icon-font: 'themify';